body {
  width: 43em;
  margin: 0 auto;
}
h1, h2, h3 {
  text-align: center;
}

h4 {
  text-align: left;
  width: 100%;
}

section.intro {
  border-top: 2px solid black;
  padding-top: 1em;
  font-size: 104%;
}

section.page {
  display: block;
  border: 1px solid black;
  padding: 1em;
  margin-top: 1em;
}

.sponsors {
  display: block;
  padding-left: 3em;
}

.signatures {
  display: block;
  float: left;
  width: 35em;
  clear: both;
  padding: 0.5em 0 0.5em 6.5em;
}

.sponsor, .signature {
  display: block;
}

.signature {
  float: left;
  padding: 0.1em 0;
  width: 11em;
}

.supporters {
  display: block;
  width: 100%;
  text-align: right;
}

.edm-number {
  display: block;
  float: left;
}

.edm-title {
  position: relative;
  display: block;
  left: 2.5em;
  width: 34em;
  text-indent: -1.5em;
  font-style: italic;
  font-weight: normal;
}

.edm-date {
  position: relative;
  display: block;
  width: 4em;
  left: 34em;
  top: -1em;
  padding-left: 1em;
  text-align: right;
}

p.motion {
  text-indent: 1em;
  padding-left: 4em;
}